body {
  background-color: #131B20;
  color: white;
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'VisbyCF', sans-serif;
  font-weight: normal;
  background-image: url('assets/Gradient-background.png');
  background-size: cover;
  background-position: center;
}

#frameContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.frame {
  background-color: transparent; /* Ensure the frame div itself is transparent */
  border: none; /* Remove any borders from the frame divs */
}

.triangle-svg {
  display: block;
  width: 100px;
  height: 100px;
}

.triangle-svg polygon {
  fill: grey; /* Only the polygon (triangle) is filled */
  stroke: black; /* Stroke only for the triangle */
  stroke-width: 1;
}

/* Central div containing the grid */
.center {
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure this is above the ramps */
}

#gridContainer {
  padding: 5px;
  border: 5px solid lightgrey;
  background-color: #1a1a1a;
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Slider styling */
.slider-container {
  display: flex;
  justify-content: space-between;
}

.slider-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}

.slider-group label {
  margin-top: 10px;
  font-weight: bold;
}

#lengthSlider,
#widthSlider {
  margin-bottom: 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: rgba(0, 245, 150, 0.5);
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
}

#lengthSlider:hover,
#widthSlider:hover {
  opacity: 1;
}

#lengthSlider::-webkit-slider-thumb,
#widthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #00f596;
  border-radius: 40%;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#lengthSlider::-webkit-slider-runnable-track,
#widthSlider::-webkit-slider-runnable-track {
  background: rgba(0, 245, 150, 0.5);
  height: 8px;
  border-radius: 5px;
}

#lengthSlider::-moz-range-thumb,
#widthSlider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #00f596;
  border-radius: 40%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#lengthSlider::-moz-range-track,
#widthSlider::-moz-range-track {
  background: rgba(0, 245, 150, 0.5);
  height: 8px;
  border-radius: 5px;
}

#lengthInput,
#widthInput {
  margin-bottom: 10px;
  background-color: #00f59765;
  color: white;
  border: 1px solid #00f596;
  border-radius: 5px;
}

.properties-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 20px;
}

.properties-table th,
.properties-table td {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
  color: white;
}

.properties-table th {
  background-color: #131B20;
}

#downloadButton {
  background-color: #00f596;
  color: #131B20;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

#downloadButton:hover {
  background-color: #00f59791;
}

#logoContainer {
  text-align: center;
  padding: 20px;
}

#logo {
  width: 80px;
  height: auto;
  margin-left: -16px;
}

/* Make the ramp size input box 1/5th of the width */
#rampSizeInput {
  margin-bottom: 0px;
  background-color: #00f59765;
  color: white;
  border: 1px solid #00f596;
  border-radius: 5px;
  width: 15%; /* Set the width to 1/5th */
  display: inline-block;
}

/* Maintain hidden functionality using the 'hidden' class */
.hidden {
  display: none;
}

/* Additional styles for ramp options */
.ramp-options {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between the elements */
}

.hidden {
  display: none;
}

.outer-container {
  padding: 5px; /* Add 1px padding */
  background-color: #1a1a1a; /* Dark grey background */
}

.inner-container {
  background-color: transparent; /* Keep the inner container transparent */
}