body {
  background-color: #131B20;
  color: white;
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'VisbyCF', sans-serif;
  font-weight: normal;
  background-image: url('assets/Gradient-background.png');
  background-size: cover;
  background-position: center;
}

#frameContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.frame {
  background-color: grey;
}

.top-left, .top-right, .bottom-left, .bottom-right {
  width: 100px;
  height: 100px;
}

.top, .bottom {
  height: 100px;
}

.left, .right {
  width: 100px;
}

.center {
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Outer dark grey border */
.outer-container {
  padding: 5px;
  background-color: #202020; /* Outermost dark grey background */
  display: inline-block;
  box-sizing: border-box;
}

/* Middle light grey border */
.inner-container {
  padding: 5px; /* Inner padding for the light grey border */
  border: 5px solid lightgrey;
  background-color: #1a1a1a; /* Dark grey background inside the light grey border */
  box-sizing: border-box;
}

/* Style for individual tile images */
#gridContainer {
  display: block;
  margin: 0;
  padding: 0;
}

#gridContainer img {
  display: block;
  margin: 0;
  padding: 0;
}

/* Styling for the sliders */
.slider-container {
  display: flex;
  justify-content: space-between;
}

.slider-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}

.slider-group label {
  margin-top: 10px;
  font-weight: bold;
}

#lengthSlider,
#widthSlider {
  margin-bottom: 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: rgba(0, 245, 150, 0.5);
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
}

#lengthSlider:hover,
#widthSlider:hover {
  opacity: 1;
}

#lengthSlider::-webkit-slider-thumb,
#widthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #00f596;
  border-radius: 40%;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#lengthSlider::-webkit-slider-runnable-track,
#widthSlider::-webkit-slider-runnable-track {
  background: rgba(0, 245, 150, 0.5);
  height: 8px;
  border-radius: 5px;
}

#lengthSlider::-moz-range-thumb,
#widthSlider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #00f596;
  border-radius: 40%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#lengthSlider::-moz-range-track,
#widthSlider::-moz-range-track {
  background: rgba(0, 245, 150, 0.5);
  height: 8px;
  border-radius: 5px;
}

#lengthInput,
#widthInput {
  margin-bottom: 10px;
  background-color: #00f59765;
  color: white;
  border: 1px solid #00f596;
  border-radius: 5px;
}

.properties-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 20px;
}

.properties-table th, .properties-table td {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
  color: white;
}

.properties-table th {
  background-color: #131B20;
}

#downloadButton {
  background-color: #00f596;
  color: #131B20;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

#downloadButton:hover {
  background-color: #00f59791;
}

#logoContainer {
  text-align: center;
  padding: 20px;
}

#logo {
  width: 80px;
  height: auto;
  margin-left: -16px;
}